.main-no-data {
  background-color: #eff1f3;
  padding: 10px;
}

h2,p {
  text-align: center;
}

.main-data {
  background-color: #eff1f3;
  width: 96%;
  margin: 0 auto;
}

.country-name {
  text-align: center;
  line-height: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #424874;
}

/* react css transitions group */
.country-appear {
  opacity: 0.01;
}

/* react css transitions group */
.country-appear.country-appear-active {
  opacity: 1;
  transition: all 2s ease-in-out;
}

/* react css transitions group */
.country-enter {
  opacity: 0.01;
}

/* react css transitions group */
.country-enter.country-enter-active {
  opacity: 1;
  transition: all 2s ease-in-out;
}


/* react css transitions group */
.left-appear {
  opacity: 0.01;
  transform: translateX(-300px);
}


/* react css transitions group */
.left-appear.left-appear-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 2s ease-in-out;
}

/* react css transitions group */
.left-enter {
  opacity: 0.01;
  transform: translateX(-300px)
}

/* react css transitions group */
.left-enter.left-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 2s ease-in-out;
}


/* react css transitions group */
.right-appear {
  opacity: 0.01;
  transform: translateX(300px);
}


/* react css transitions group */
.right-appear.right-appear-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 2s ease-in-out;
}

/* react css transitions group */
.right-enter {
  opacity: 0.01;
  transform: translateX(300px)
}

/* react css transitions group */
.right-enter.right-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 2s ease-in-out;
}




.section-wrapper {
  position: relative;
  display:flex;
  justify-content: space-around;
  width: 100%;
  background-color: #EFF1F3;
  margin: 0 auto;
  color: #274060;
  margin-bottom: 5px;
}

.label {
  background-color: #f88e33;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 22px;
  position: relative;
  border-radius: 3px 0 0 3px;
}


.data {
  width: 50%;
  text-align: center;
  padding: 0 15px;
  background-color: #accbe1;
  border-radius: 0 3px 3px 0;
}

.icon {
  width: 0;
  z-index: 2;
  margin-top: .7rem;
  display: flex;
  justify-content: center;
}

i {
  font-size: 2em;
}

@media only screen  and (min-width : 900px) {
  .main-data {
    width: 60%;
  }
}
